

<button {{action "warenkorb_emtpy"}}>WARENKORB LEEREN</button> // <button {{action "warenkorb_anzahl"}}>WARENKORB ANZAHL</button>


<br><br>
{{#each myvars.languages as |lg|}}
	<button {{action "sprache_mach" lg.code}}>{{lg.name}}</button>
{{/each}}
////
{{#each myvars.currencies as |cu|}}
	<button {{action "geld_mach" cu}}>{{cu}}</button>
{{/each}}


<br><br>
{{#link-to "products"}}PRODUCTS{{/link-to}} // {{#link-to "cart"}}CART{{/link-to}}


<br><br>
{{#link-to "css_produkte"}}PRODUKTE{{/link-to}} // 
{{#link-to "css_detail"}}DETAIL{{/link-to}} // 
{{#link-to "css_warenkorb"}}WARENKORB{{/link-to}} // 
{{#link-to "css_bestellung"}}BESTELLUNG{{/link-to}} // 
{{#link-to "css_bestelluebersicht"}}BESTELLÜBERSICHT{{/link-to}} // 
{{#link-to "css_diverses"}}DIVERSES{{/link-to}}