

{{#link-to "products"}}
	<button type="button" {{action "aktkategorie_reset"}} class="btn btn-default btn-autosize btn-active">Alle Kategorien</button>
{{/link-to}}


{{#each model.categories as |category|}}
	{{#link-to "products" }}

		<button type="button" {{action "aktkategorie_mach" category.id}} class="btn btn-default btn-autosize btn-active">{{category.namelg}}</button> 

	{{/link-to}}
{{/each}}

  
  
<div class="produkte">

	{{#each filteredproducts as |product|}}
		  <div class="panel panel-default"> 
			<div class="panel-heading">
				{{#link-to "product" product}}<h3 class="panel-title">{{product.namelg}}</h3>{{/link-to}}
			</div>	
			<div class="panel-body">
			PREIS: {{product.preis}}
			<img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
		  
		  
		  </div>
	{{/each}}

</div>